header {
  display: flex;
  align-items: center;
  margin-top: 84px;
  margin-left: 300px;
  .stay-image {
    z-index: -1;
    background-image: url("../images/7.PNG");
    background-repeat: no-repeat;
    background-position:right top;
    width: 600px;
    height:450px;
    box-shadow: 0 0 5px #888888;
  }
  h1 {
    margin: 10px;
    font-size: 50px;
    color: rgb(76, 80, 87);
    margin-left: 31px;
    margin-bottom: 30px;
    padding-top: 40px;
  }
  p {
    margin-left: 31px;
    margin-bottom: 33px;
    width: 356px;
    height: 190px;
    color: rgb(103, 107, 113);
  }
  button {
    width: 130px;
    height: 48px;
    border-radius: 25px;
    margin-left: 31px;
    background-color: white;
    outline: none;
    border: 2px solid #e7e7e7;
  }
  .bed-image {
    position: absolute;
    margin-top: 190px;
    margin-left: 400px;
  }
}

@media screen and (max-width: 1460px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin: 10px;
    width: 100%;
    .stay-image {
      background-image: url("../images/7.PNG");
      background-repeat: no-repeat;
      background-position:left top;
      margin-right: 10px;
    }
    .bed-image {
      margin-top: 15px;
      position: relative;
      margin-top: 10px;
      margin-left: 0px;
      margin-right: 10px;
    }
  }

}


