body {
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

hr.solid {
  margin-top: 50px;
  width: 80px;
}

.section1 {
  margin: 100px;
  margin-bottom: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 section {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  top: 100px;
  right: 34%;
  margin-bottom: 100px;
}

.section1 section .main-image {
  z-index: -1;
  background-image: url("../images/7.PNG");
  background-repeat: no-repeat;
  background-position: right top;
  width: 750px;
  height: 600px;
  right: 100%;
  -webkit-box-shadow: 0 0 5px #888888;
          box-shadow: 0 0 5px #888888;
}

.section1 section .main-image h1 {
  padding-top: 20px;
  padding-left: 60px;
  font-size: 70px;
  color: #4c5057;
}

.section1 section .main-image p {
  font-size: 15px;
  padding-left: 60px;
  width: 300px;
  height: 190px;
  color: #676b71;
}

.section1 section .main-image button {
  width: 140px;
  height: 55px;
  border-radius: 25px;
  margin-left: 60px;
  background-color: white;
  outline: none;
  border: 1px solid #b1abab;
}

.section1 section .poped-image {
  background-image: url("../images/6.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  width: 700px;
  height: 600px;
  position: absolute;
  right: -330px;
  bottom: -240px;
}

.section2 {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

.section2 section h1 {
  font-size: 50px;
  margin-top: 0;
  text-align: center;
  color: #4c5057;
  margin-bottom: 70px;
}

.section2 section .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2 section .center .image {
  padding-top: 4px;
  margin-left: 70px;
}

.section2 section .center .images {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 542px;
  height: 542px;
  margin-right: 60px;
}

.section2 section .center .images .img {
  padding: 5px;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 465px;
  width: 100%;
  outline: yellow;
  border: none;
  background-size: 100% auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 48, 51, 0.7)), to(rgba(45, 48, 51, 0.7))), url("../images/mountain.jpg");
  background-image: linear-gradient(rgba(45, 48, 51, 0.7), rgba(45, 48, 51, 0.7)), url("../images/mountain.jpg");
}

footer .round-button {
  width: 160px;
  height: 53px;
  border-radius: 25px;
  margin-bottom: 5px;
  background-color: #3c3f41;
  padding: 0;
  border: none;
  color: white;
  outline: none;
  margin-bottom: 50px;
}

footer .submitit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .submitit h1 {
  font-size: 60px;
  margin-bottom: -15px;
  color: white;
}

footer .submitit h6 {
  font-size: 13px;
  margin-bottom: 50px;
  color: #afa7a7;
}

footer .submitit .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  color: #b6afaf;
  margin-bottom: 30px;
  font-size: 13px;
}

footer .submitit .texts .text1 {
  margin-left: auto;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

footer .submitit .texts .text1 .right {
  margin-right: 50px;
}

footer .submitit .texts .text2 {
  margin-right: auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

footer .submitit .texts .text2 .left {
  margin-left: 50px;
}

footer .submitit input {
  outline: none;
  border: 0;
  width: 290px;
  background: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#b6afaf), to(#b6afaf));
  background-image: linear-gradient(to right, #b6afaf, #b6afaf);
  background-position: 5px calc(100% - 5px);
  background-size: calc(100% - 10px) 2px;
  background-repeat: no-repeat;
  padding-left: 5px;
  padding-bottom: 10px;
}

footer .submitit input::-webkit-input-placeholder {
  color: #b6afaf;
  font-size: 12px;
}

footer .submitit input:-ms-input-placeholder {
  color: #b6afaf;
  font-size: 12px;
}

footer .submitit input::-ms-input-placeholder {
  color: #b6afaf;
  font-size: 12px;
}

footer .submitit input::placeholder {
  color: #b6afaf;
  font-size: 12px;
}

@media screen and (max-width: 1300px) {
  .section1 {
    margin-bottom: 900px;
  }
  .section1 section {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0px;
    right: 42%;
    margin: 10px;
  }
  .section1 section .main-image {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    background-image: url("../images/7.PNG");
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 500px;
    top: 0;
    margin: 0;
    margin-right: -320px;
    margin-bottom: 20px;
  }
  .section1 section .poped-image {
    width: 450px;
    height: 350px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    position: relative;
    bottom: 0;
    right: 0;
    left: 36%;
  }
  .section2 section .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 section .center .image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 0;
    margin-left: 0;
  }
  .section2 section .center .images {
    -ms-flex-item-align: center;
        align-self: center;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 542px;
    height: 542px;
    margin-right: 0;
  }
  .section2 section .center .images .img {
    padding: 5.5px;
  }
}

@media only screen and (max-width: 696px) {
  .section1 section {
    right: 34%;
  }
  .section2 section .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 section .center .image {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    margin-left: 10px;
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 10px;
  }
  .section2 section .center .image .img1 {
    max-width: 260px;
    max-height: 250px;
  }
  .section2 section .center .images {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 250px;
    height: 250px;
    margin-right: 0;
    margin-bottom: 800px;
  }
  .section2 section .center .images .img {
    padding: 5.5px;
  }
}
/*# sourceMappingURL=style.css.map */