body {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

hr.solid {
  margin-top: 50px;
  width: 80px;
}



.section1 {
  margin: 100px;
  margin-bottom: 150px;

  section {
    left: 50%;
    display: flex;
    align-items: center;
    justify-self: center;
    align-self: center;

    .stay-image {
      z-index: -1;
      background-image: url("../images/7.PNG");
      background-repeat: no-repeat;
      background-position: right top;
      width: 750px;
      height: 600px;
      box-shadow: 0 0 5px #888888;

      h1 {
        padding-top: 20px;
        padding-left: 60px;
        font-size: 70px;
        color: rgb(76, 80, 87)
      }

      p {
        font-size: 15px;
        padding-left: 60px;
        width: 300px;
        height: 190px;
        color: rgb(103, 107, 113);
      }

      button {
        width: 140px;
        height: 55px;
        border-radius: 25px;
        margin-left: 60px;
        background-color: white;
        outline: none;
        border: 1px solid #b1abab;
      }
    }

    .bed-image {
      background-image: url("../images/6.PNG");
      background-size: contain;
      background-repeat: no-repeat;
      width: 750px;
      height: 600px;
      position: absolute;
      margin-top: 230px;
      margin-left: 400px;
    }
  }
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: 465px;
  width: 100%;
  outline: yellow;
  border: none;
  background-size: 100% auto;
  background-image: linear-gradient(rgba(45, 48, 51, 0.7),
      rgba(45, 48, 51, 0.7)),
    url("../images/mountain.jpg");

  .round-button {
    width: 160px;
    height: 53px;
    border-radius: 25px;
    margin-bottom: 5px;
    background-color: rgb(60, 63, 65);
    padding: 0;
    border: none;
    color: white;
    outline: none;
    margin-bottom: 50px;
  }

  .submitit {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 60px;
      margin-bottom: -15px;
      color: white;
    }

    h6 {
      font-size: 13px;
      margin-bottom: 50px;
      color: rgb(175, 167, 167);
    }

    .texts {
      display: flex;
      flex-direction: row;
      width: 100%;
      color: rgb(182, 175, 175);
      margin-bottom: 30px;
      font-size: 13px;

      .text1 {
        margin-left: auto;
        order: 3;

        .right {
          margin-right: 50px;
        }
      }

      .text2 {
        margin-right: auto;
        order: 2;

        .left {
          margin-left: 50px;
        }
      }
    }

    input {
      outline: none;
      border: 0;
      width: 290px;
      background: transparent;
      background-image: linear-gradient(to right,
          rgb(182, 175, 175),
          rgb(182, 175, 175));
      background-position: 5px calc(100% - 5px);
      background-size: calc(100% - 10px) 2px;
      background-repeat: no-repeat;
      padding-left: 5px;
      padding-bottom: 10px;

      &::placeholder {
        color: rgb(182, 175, 175);
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .section1 {
    margin: 0;
    margin-bottom: 0;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0px;
      margin: 10px;
      width: 100%;

      .stay-image {
        flex-basis: auto;
        background-image: url("../images/7.PNG");
        background-repeat: no-repeat;
        background-position: center;
        width: 450px;
        height: 500px;
        margin-right: 10px;
      }

      .bed-image {
        width: 450px;
        height: 300px;
        flex-basis: auto;
        margin-top: 15px;
        position: relative;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 1349px) {}

@media only screen and (max-width: 696px) {}